{{> head}}
{{> navbar}}

<div class='row m-5'>
    <div>
        <div class='col-7'>
            <h1>Lorem ipsum dolor sit amet.</h1>
        </div>
    
        <div class='col-10'>
            <img src='/assets/images/sensation.jpg' class='img-thumbnail' alt='sensation'>
        </div>
    </div>

</div>

{{> footer}}