
{{> head}}

{{> navbar}}

    <div class="jumbotron">
        <h1 class="display-4">Hello, {{capitalizar nombre}}! </h1>
        <p class="lead">This is a simple hero unit, a simple jumbotron-style component for calling extra attention to
            featured content or information.</p>
        <hr class="my-4">
        <p>It uses utility classes for typography and spacing to space content out within the larger container.</p>
        <a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a>
    </div>

    <h1> Sitio demo Para la clase de EXPRESS Web Server</h1>
    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Facilis facere est odit quos repellendus ipsa nesciunt
        asperiores ut tenetur accusantium eos ipsum distinctio ipsam commodi fugiat, voluptas necessitatibus optio
        harum.</p>
    <p>
        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Modi, nemo!

        <section>
            <p>
                Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ea, molestias consectetur quia aliquid illo
                ipsum ad corrupti pariatur cumque distinctio.
            </p>
        </section>




{{> footer}}
